/* QUESTION: Why consistently saying "Dont use IDs in selectors"?  */

body {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*#navigation #mainImg #backButton #fwButton  {*/
#navigation {
background-color: gray;
  /*display: inline;*/
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;




  /*position: relative;
  /*position: absolute;
  top: 100%;
  transform: perspective(1px) translateY(-50%);*/
  /*transform: perspective(1px) translateY(-50%);*/ /*http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
}

.button {
  margin: 5px;
  width: 100px;
  height: 75px;
}

#backButton {
  margin-left: 25px;
  float: left;
}

#fwdButton {
  margin-right: 25px;
  float: right;
}

#main {
  width: 300px;
  height: 200px;
  margin: 5px;
  padding: 0px;
  background-color: red;
  /*background-image:*/
  background-repeat: no-repeat;
}

.divMain {
  background-color: #5f5f5f;
}



/*div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #777;
}*/
